.*{
	margin:auto;
	padding:auto;
}
.p1{
	color:red;
	font-family:pristina;
	padding-top:50px;
	text-align:center;
	font-style:oblique;
}
.b1{
	margin-left:100px;
	padding-left:10px;
	height:50px;
	width:400px;
	border-radius:150px 50px 150px 50px;
	color:white;
	background-color:blue;
	margin-bottom:50px;
}
.i1{
	height:300px;
	width:300px;
}
#apple{
	border:5px solid black;
	border-color:blue;
	width:25%;
	float:left;
	margin-top:10px;
}
#ball{
	border:5px;
	border:5px solid black;
	border-color:green;
	margin-left:10px;
	width:70%;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
}
#header{
	border:5px solid black;
	border-color:red;
	height:100px;
}
#footer{ 
	border:5px solid black;
	border-color:pink;
	margin-bottom:2px;
}
#clear_float{
	clear:both;
}